extends ../layout
include ./mixins/list-card


block content
  .head
    img.head__img(src="/img/head_1.jpg")
    .container
      h1.head__title Культурные объекты
  .section
    each item in culturalInstitutions
      +listCard(item)
