extends ../layout

block content
  .head
    img.head__img(src="/img/head_1.jpg")
    .container
      h1.head__title= model.name

  .section.page-content
    .columns.is-multiline
      .column.is-9
        .box.page-content__box
          .content
            figure
              img(src=model.photoLink)
            p= model.description

      .column
        .box
          .title Адресс объекта
          .content= model.address