extends layout

block content
  .head
    img.head__img(src="/img/head_1.jpg")
    .container
      h1.head__title О нас
  .section.page-content
    .box.page-content__box
      .content
        p
          | Муниципальное межпоселенческое бюджетное учреждение культуры «Культурно-методический центр». Сокращенное наименование: ММБУК «КМЦ»
          br
          a(href='mailto:gainy_kmc@mail.ru') Директор  Костюкевич Надежда Ивановна
        //тел. +7 (34245) 21098

        h2 История
        p.
          Первое здание было построено в 1946 году на 250 мест, площадью 588 м2. Новое здание было построено в 1972 году, открыто 22 декабря. Первыми работниками рабочего ДК были: Ефимова Л.И. Горбачев В. Зуев В.П. Шестакова Г.П. Кожевников А.Н. Собянин Э.Д. и другие.
