extends layout

block content
  .head
    img.head__img(src="/img/head_1.jpg")
    .container
      h1.head__title О нас
  .section.is-medium
    .container
      .columns
        .column
          figure
            img(src="/img/about.jpg" width="546" height="516")
        .column
          .title.is-2 О нас
          .content
            p.
              Mauris blandit aliquet elit, eget
              tincidunt nibh pulvinar a. Vestibulum
              ac diam sit amet quam vehicula elementum
              sed sit amet dui. Praesent sapien massa,
            p.
              convallis a pellentesque nec, egestas non
              nisi. Nulla porttitor accumsan tincidunt.
              Vestibulum ante ipsum primis in faucibus orci
              luctus et ultrices posuere cubilia Curae; Donec
              velit neque, auctor sit amet aliquam vel, ullamcorper
              sit amet ligula.
