extends layout

block content
  .head
    img.head__img(src="/img/head_1.jpg")
    .container
      h1.head__title О нас
  .section.page-content
    .columns
      .column.is-9
        .box.page-content__box
          .content.is-medium
            p
              | Муниципальное межпоселенческое бюджетное учреждение культуры «Культурно-методический центр». Сокращенное наименование: ММБУК «КМЦ»
              br
              a(href='mailto:gainy_kmc@mail.ru') Директор  Костюкевич Надежда Ивановна

            h2 История
            p Первое здание было построено в 1946 году на 250 мест, площадью 588 м2. Новое здание было построено в 1972 году, открыто 22 декабря. Первыми работниками рабочего ДК были: Ефимова Л.И. Горбачев В. Зуев В.П. Шестакова Г.П. Кожевников А.Н. Собянин Э.Д. и другие.
      .column
        .box
          .content
            a(href='http://kontroluslug.permkrai.ru/')
             img(src="/img/photo_2020-06-12_21-33-57.jpg")
            p
              | Уважаемый пользователь, просим Вас принять участие в опросе оценки качества условий оказания услуг организациями культуры Пермского края : Портал "
              a(href='http://kontroluslug.permkrai.ru/') Оценка качества муниципальных услуг в Пермском крае
              | " представляет систему электронного учёта мнения граждан о качестве предоставления муниципальных услуг на территории Пермского края. Уделив немного времени заполнению опроса, Вы поможете не только выявить проблемы в деятельности организации, но и улучшить качество оказываемых услуг населению.
          .has-text-centered
            a.button.is-primary(href='http://kontroluslug.permkrai.ru/') Принять участие




