extends layout
include news/mixins/slider-card
include mixins/activity

block content
    section.main-slider
        .container
            .swiper-container#main-slider
                .swiper-wrapper
                    each activity in activities
                        .swiper-slide
                            +activityMain(activity)

    section.section
        .container
            .title.is-2.section-title Последние новости
            .swiper-container#posts
                .swiper-wrapper
                    each news in newses
                        .swiper-slide
                            +sliderCard(news)
