mixin listCard(activity)
    .card
        .card-image
            figure.image
                img(src=activity.photoLink)
        .card-content
            .media-content
                .title= activity.name
            .content
                p
                    time= activity.date
                a(href=activity.detailLink).button Подробнее
