extends ../layout
include mixins/services-list-card


block content
        // я хз как красивовыводить у них нет фото, может просто тобличку
        ul
            each item in services
                li
                    +servicelistCard(item)
