.full-card {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  &:hover {
    .full-card {
      &__img {
        img {
          transform: scale(1.2) translateX(0) translateY(0);
        }
      }
    }

    .card-more {
      &__dot:after {
        font-size: 0;
      }

      &__link {
        opacity: 1;
        margin-right: 0;
        transition-timing-function: cubic-bezier(0.27, 1.81, 0.45, 0.47);
      }
    }
  }

  & + .full-card {
    margin-top: 21px;
  }

  .title {
    display: block;
    transition: color .25s;
    margin-bottom: 15px;

    &:hover {
      color: $primary;
    }
  }

  &__img {
    overflow: hidden;
    height: 100%;
    background: $grey-lightest;

    img {
      transform: scale(1) translateX(0) translateY(0);
      transition: all .8s ease;
      width: 100% !important;
      height: auto !important;
      max-width: 100%;
      max-height: none;
    }
  }

  &__content {
    position: relative;
    padding: 22.5px 45px;
    height: 100%;
    overflow: hidden;
    @include desktop-only {
      padding: 23px;
    }
  }

  &__contact {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .material-icons {
      margin-right: 10px;
    }
  }

  &__wrap {
    position: relative;
    max-height: 214px;
    overflow: hidden;
    margin-bottom: 15px;
    @include widescreen-only {
      max-height: 170px;
    }
    @include desktop-only {
      max-height: 120px;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 5;
      bottom: 0;
      width: 100%;
      height: 30px;
      left: 0;
      background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff);
    }
  }

  .card-more {
    &__link {
      margin-right: 30vw;
    }
  }
}

.small-card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .1);

  &:hover {
    .card-content {
      background: $white-ter;
    }

    .card-more {
      &__dot:after {
        font-size: 0;
      }

      &__link {
        opacity: 1;
        margin-right: 0;
        transition-timing-function: cubic-bezier(0.27, 1.81, 0.45, 0.47);
      }
    }
  }

  .card-image {
    img {
      object-fit: cover;
    }
  }

  .card-content {
    padding-bottom: 35px;
    transition: background .3s;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
  }
}

.card-service {
  height: 100%;
  display: flex;
  flex-direction: column;

  &.card {
    .card-header {
      text-align: center;

      .card-header-title {
        justify-content: center;
        font-family: $title-family;
      }
    }

    .card-content {
      text-align: center;
      flex-grow: 1;

      p {
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .card-footer {
      .card-footer-item {
        justify-content: center;
        color: $white;
        background: $primary;
        transition: color .25s, background .4s;
        font-weight: 600;

        &:hover {
          color: black;
          background: $white;
        }
      }
    }
  }

  &__price {
    color: black;

    span:first-child {
      margin-right: 5px;
      font-weight: 600;
    }
  }
}