.main-slider {
  padding-top: 25px;

  .swiper-container {
    height: 530px;
  }

  &__wrap {

  }

  .hero {
    position: relative;
    overflow: hidden;
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: rgba(0, 0, 0, .5);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-height: 100%;
      max-width: none;
      min-width: 100%;
      z-index: -1;
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: fill-available;
      -o-object-fit: cover;
      object-fit: cover;
    }

    .hero-body {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .title {
        color: $white;
      }

      .button {
        height: auto;
        padding: 10px 20px;
        background: transparent;
        color: $white;
        transition: background .3s;
        border-color: $primary;
        &:hover {
          background: $primary;

        }
      }
    }
  }
}