extends ../layout
include ./mixins/list-card

mixin activitCard(model)
    .posts
        a(href=model.de).posts__img
            figure
                img(src=model.photoLink width="460" height="396")
        .posts__content
            .title.is-5
                a(href="#")= model.name
            time= model.date


block content
    .head
        img.head__img(src="/img/head_1.jpg")
        .container
            h1.head__title Мероприятия
    .section
        .columns.is-multiline
            each item in activities
                .column.is-3-widescreen.is-4-desktop
                    +listCard(item)
