extends ../layout
include ./mixins/list-card

block content
    .head
        img.head__img(src="/img/head_1.jpg")
        .container
            h1.head__title Мероприятия
    .section
        .columns.is-multiline
            each item in activities
                .column.is-3-widescreen.is-4-desktop
                    +listCard(item)
