mixin listCard(model)
    .posts
        a(href=model.detailLink).posts__img
            figure
                img(src=model.photoLink width="460" height="396")
        .posts__content
            .title.is-5
                a(href=model.detailLink)= model.name
            time= model.date