mixin newsCard(news)
    .posts
        a(href=news.detailLink).posts__img
            figure
                img(src=news.photoLink width="460" height="396")
        .posts__content
            .title.is-5
                a(href=news.detailLink)= news.name
            time= news.date