mixin newsMain(news)
    .posts
        a(href=news.link).posts__img
            figure
                img(src=news.photoLink width="460" height="396")
        .posts__content
            .title.is-5
                a(href="#")= news.name
            time= news.date