extends ../layout
include ./mixins/list-card


block content
  .head
    img.head__img(src="/img/head_1.jpg")
    .container
      h1.head__title Новости
  .section
    .columns.is-multiline
      each item in newses
        .column.is-3-widescreen.is-4-desktop
          +listCard(item)
